[submodule "src/proto"]
	path = src/proto
	url = ../js-env-proto.git
[submodule "single-func-src/proto"]
	path = single-func-src/proto
	url = ../js-env-proto.git
[submodule "ipc-dag-src/proto"]
	path = ipc-dag-src/proto
	url = ../js-env-proto.git
[submodule "ipc-nIPC-src/proto"]
	path = ipc-nIPC-src/proto
	url = ../js-env-proto.git
